<nav class="navbar navbar-expand-md navbar-light sticky-top border-bottom">
    <div class="container">

        <img src="../../../assets/logo.jpg" height="60px" alt="" class="d-inline-block pe-2">
        <a class="navbar-brand" href="#">
            <b>FlyNow</b>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="home" routerLinkActive="active" aria-current="page">Home</a>
                <a class="nav-link" routerLink="registration" routerLinkActive="active">Registration</a>
                <a class="nav-link" routerLink="search" routerLinkActive="active">Search Flight</a>
                <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
                <a class="nav-link" routerLink="help">Help</a>
            </div>
        </div>
        
    </div>
</nav>
<div style="background-color: aquamarine;">
        <div class="row">
            <div class="col">
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12 col-centered">
                    <div class="maintxt justify-content-center">
                        <img src="flight.jpg" class="img-responsive">
                        <h1 class="overlay-text" style="color:white ;">Welcome to the Flight Booking system</h1>
                        <h6>The best destination</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 40px;" class="news container cards justify-content-center text-center">
        <div class="row">
                <h2>News today</h2>
        </div>
        <div class="row">
            <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Transit through Delhi</h5>
                      <h6 class="card-subtitle mb-2 text-muted">28/10/2022</h6>
                      <p class="card-text">Passengers who are transiting through Doha, and not leaving the airport, are not required to presnet any test rsults or certificate.</p>
                    </div>
            </div>
            <div class="card bg-muted" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Transit through Delhi</h5>
                  <h6 class="card-subtitle mb-2 text-muted">28/10/2022</h6>
                  <p class="card-text">Passengers who are transiting through Doha, and not leaving the airport, are not required to presnet any test rsults or certificate.</p>
                </div>
            </div>
            <div class="card bg-muted" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Transit through Delhi</h5>
                  <h6 class="card-subtitle mb-2 text-muted">28/10/2022</h6>
                  <p class="card-text">Passengers who are transiting through Doha, and not leaving the airport, are not required to presnet any test rsults or certificate.</p>
                </div>
            </div>
            <div class="card bg-muted" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Transit through Delhi</h5>
                  <h6 class="card-subtitle mb-2 text-muted">28/10/2022</h6>
                  <p class="card-text">Passengers who are transiting through Doha, and not leaving the airport, are not required to presnet any test rsults or certificate.</p>
                </div>
            </div>
            
        </div>
    </div>
